<!-- Comments Section -->
<h3 class="comments-instruct">Comments</h3>
<% @post.comments.each do |comment| %>

  <div class="card comments-card-show comments-card">
    <p>
      <strong class="comments-card-title-show">
        <%= comment.username %>
      </strong>

      <i class="comments-card-text-show">
        <%= comment.body %>
      </i>

        <%= link_to 'X', [comment.post, comment], method: :delete, :class => 'btn btn-danger', data: {confirm: "Are You Sure You \n Want To Delete This Comment ?!"} %>

    </p>
  </div>

<% end %>