<!-- Comments Section -->
<h3>Comments</h3>
<% @post.comments.each do |comment| %>

  <div>
    <p>
      <strong>
        <%= comment.username %>
      </strong>
      <%= comment.body %>
    </p>
  </div>

<% end %>