<!-- Comments Section -->
<h3>Comments</h3>
<% @post.comments.each do |comment| %>

  <div>
    <p>
      <strong>
        <%= comment.username %>
      </strong>
      <%= comment.body %>
    </p>
    <%= link_to 'X', [comment.post, comment], method: :delete, :class => 'btn btn-danger', data: {confirm: "Are You Sure You \n Want To Delete This Comment ?!"} %>
  </div>

<% end %>