<br> <br> <br>
<h1 class="instruct text-center">About Us</h1>

<div class="about-content text-center">
  <h3> We Are Cool !!! </h3>
  <h3> We Always Believe in High Customer Service </h3>
  <h3> When it Comes To Blogging With </h3>
</div>