<!-- Index Contents -->

<!-- Middle Page -->
<main role="main" class="inner cover">
  <h1 class="cover-heading main-title">A Lollipop For Bloggers</h1> <br> <br>
  <p class="lead">Lollipop is a nice template for building simple and beautiful blogging pages. <br> Download, edit and customize your blog, and add your own fancy wonders to your blog <br> and make it your own.</p>
  <p class="lead"> <br>
    <a href="#" class="btn btn-primary read-button">Start Reading</a>
  </p>
</main>


<!-- Footer -->
<footer class="index-footer">

  <!-- Icons Tags -->
  <div class="inner">

    <div class="footer-icons">

          <%= image_tag("LinkedIn.png", :alt => "LinkedIn", :class => "footer-icons linkedin-icon") %>

          <%= image_tag("GitHub.png", :alt => "GitHub", :class => "footer-icons") %>

          <%= image_tag("YouTube.png", :alt => "YouTube", :class => "footer-icons youtube-icon", url_to_image "") %>

    </div>

  </div>

</footer>