/* NavigationBar */
.nav-item a {

    color: #2E2F30;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;

}

.nav-item a:hover {

    color: floralwhite;
    text-decoration: none;

}


/* Body */

.logo {

    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    font-family: 'Pacifico', cursive;
    margin-left: 20px;

}

.main-title {

    margin-top: 125px;
    font-family: 'Varela Round', sans-serif;

}


.body {

    background-color: #cbcbcb;

}



/* Footer */

.index-footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #2E2F30;

}

.footer-icons {

    height: 20%;
    width: 20%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

}

.linkedin-icon {

    margin-right: 30px;

}

.youtube-icon {

    margin-left: 30px;

}







/* New Post */

.instruct {

    color: #2E2F30;
    font-family: 'Pacifico', cursive;
    font-size: 5vh;
}

.form-alignment {

    margin-right: auto;
    margin-left: auto;

}

.card-new {

    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    min-height: 500px;
    border-radius: 15px;
    background-color: #2E2F30;

}

/* Action One */

.title-label {

    margin-top: 20px;
    margin-right: 450px;
    color: floralwhite;
    text-align: center;
    font-size: 25px;
    font-family: 'Lobster', cursive;

}

.title-field {

    margin-top: 5px;
    max-width: 500px;
    background-color: floralwhite;

}

.title-field:hover {

    border-color: #2E2F30;
    border-inline-color: #2E2F30;

}


/* Action Two */

.body-label {

    margin-top: 20px;
    margin-right: 450px;
    color: floralwhite;
    text-align: center;
    font-size: 25px;
    font-family: 'Lobster', cursive;

}

.body-field {

    margin-top: 5px;
    max-width: 500px;
    min-height: 200px;
    background-color: floralwhite;

}

.body-field:hover {

    border-color: #2E2F30;
    border-inline-color: #2E2F30;

}



/* Show Posts */

.card-show {

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 800px;
    min-height: 300px;
    background-color: #cdcdcd;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.card-show:hover {

    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);

}

.create-title {

    margin-bottom: 60px;
    color: #2E2F30;
    font-family: 'Pacifico', cursive;

}

.card-title-show {

    color: #2E2F30;
    font-size: 30px;
    font-family: 'Pacifico', cursive;

}

.card-text-show {

    margin-top: 30px;
    color: #2E2F30;
    font-size: 15px;

}

.read-more {

    margin-top: 80px;

}




/* About Content */

.about-content {

    margin-top: 100px;
    font-family: 'Comfortaa', cursive;


}